[submodule "nord/.config/nord/nord-alacritty"]
	path = nord/.config/nord/nord-alacritty
	url = https://github.com/arcticicestudio/nord-alacritty
[submodule "nord/.config/nord/nord-rofi"]
	path = nord/.config/nord/nord-rofi
	url = https://github.com/amayer5125/nord-rofi
[submodule "nord/.config/nord/nord-xresources"]
	path = nord/.config/nord/nord-xresources
	url = https://github.com/arcticicestudio/nord-xresources
